 {% load static %}
 <!--== Start Funfact Area Wrapper ==-->
            <section class="funfact-area section-space">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-sm-6 col-lg-4 mb-6">
                            <!--== Start Funfact Item ==-->
                            <div class="funfact-item">
                                <div class="icon">
                                    <img src="{% static 'images/icons/funfact1.webp' %}" width="110" height="110" alt="Icon">
                                </div>
                                <h2 class="funfact-number">5000+</h2>
                                <h6 class="funfact-title">Clients</h6>
                            </div>
                            <!--== End Funfact Item ==-->
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-6">
                            <!--== Start Funfact Item ==-->
                            <div class="funfact-item">
                                <div class="icon">
                                    <img src="{% static 'images/icons/funfact2.webp' %}" width="110" height="110" alt="Icon">
                                </div>
                                <h2 class="funfact-number">250+</h2>
                                <h6 class="funfact-title">Projects</h6>
                            </div>
                            <!--== End Funfact Item ==-->
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-6">
                            <!--== Start Funfact Item ==-->
                            <div class="funfact-item">
                                <div class="icon">
                                    <img src="{% static 'images/icons/funfact3.webp' %}" width="110" height="110" alt="Icon">
                                </div>
                                <h2 class="funfact-number">1.5M+</h2>
                                <h6 class="funfact-title">Revenue</h6>
                            </div>
                            <!--== End Funfact Item ==-->
                        </div>
                    </div>
                </div>
            </section>
            <!--== End Funfact Area Wrapper ==-->