{% load static %}
<!--== Start Brand Logo Area Wrapper ==-->
            <div class="section-space">
                <div class="container">
                    <div class="swiper brand-logo-slider-container">
                        <div class="swiper-wrapper">
                            {% for brand in brands %}
                            <div class="swiper-slide brand-logo-item">
                                <!--== Start Brand Logo Item ==-->
                                <img src="{{ brand.image.url }}" width="155" height="110" alt="Image-HasTech">
                                <!--== End Brand Logo Item ==-->
                            </div>
                            {% endfor %}
<!--                            <div class="swiper-slide brand-logo-item">-->
<!--                                &lt;!&ndash;== Start Brand Logo Item ==&ndash;&gt;-->
<!--                                <img src="{% static 'images/brand-logo/2.webp' %}" width="241" height="110" alt="Image-HasTech">-->
<!--                                &lt;!&ndash;== End Brand Logo Item ==&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="swiper-slide brand-logo-item">-->
<!--                                &lt;!&ndash;== Start Brand Logo Item ==&ndash;&gt;-->
<!--                                <img src="{% static 'images/brand-logo/3.webp' %}" width="147" height="110" alt="Image-HasTech">-->
<!--                                &lt;!&ndash;== End Brand Logo Item ==&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="swiper-slide brand-logo-item">-->
<!--                                &lt;!&ndash;== Start Brand Logo Item ==&ndash;&gt;-->
<!--                                <img src="{% static 'images/brand-logo/4.webp' %}" width="196" height="110" alt="Image-HasTech">-->
<!--                                &lt;!&ndash;== End Brand Logo Item ==&ndash;&gt;-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--== End Brand Logo Area Wrapper ==-->