{% load static %}
<!--== Start Feature Area Wrapper ==-->
            <div class="feature-area section-space">
                <div class="container">
                    <div class="row mb-n9">
                        <div class="col-md-6 col-lg-4 mb-8">
                            <!--== Start Feature Item ==-->
                            <div class="feature-item">
                                <h5 class="title"><img class="icon" src="{% static 'images/icons/feature1.webp' %}" width="60" height="60" alt="Icon"> Support Team</h5>
                                <p class="desc">Lorem ipsum dolor amet, consectetur adipiscing. Ac tortor enim metus, turpis.</p>
                            </div>
                            <!--== End Feature Item ==-->
                        </div>
                        <div class="col-md-6 col-lg-4 mb-8">
                            <!--== Start Feature Item ==-->
                            <div class="feature-item">
                                <h5 class="title"><img class="icon" src="{% static 'images/icons/feature2.webp' %}" width="60" height="60" alt="Icon"> Certification</h5>
                                <p class="desc">Lorem ipsum dolor amet, consectetur adipiscing. Ac tortor enim metus, turpis.</p>
                            </div>
                            <!--== End Feature Item ==-->
                        </div>
                        <div class="col-md-6 col-lg-4 mb-8">
                            <!--== Start Feature Item ==-->
                            <div class="feature-item">
                                <h5 class="title"><img class="icon" src="{% static 'images/icons/feature3.webp' %}" width="60" height="60" alt="Icon"> Natural Products</h5>
                                <p class="desc">Lorem ipsum dolor amet, consectetur adipiscing. Ac tortor enim metus, turpis.</p>
                            </div>
                            <!--== End Feature Item ==-->
                        </div>
                    </div>
                </div>
            </div>
            <!--== End Feature Area Wrapper ==-->