{% extends "shop/base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
{% block hero%}
{% include 'shop/hero_area_wrapper.html' %}
{% endblock %}

{% block productcategory%}
{% include 'shop/index_product_category_area_wrapper.html' %}
{% endblock %}


{% block product%}
{% include 'shop/index_product_area_wrapper.html' %}
{% endblock %}




            <!--== Start News Letter Area Wrapper ==-->
            <section class="section-space pt-0">
                {% csrf_token %}
                <div class="container">
                    <div class="newsletter-content-wrap" data-bg-img="{% static 'images/photos/bg1.webp' %}">
                        <div class="newsletter-content">
                            <div class="section-title mb-0">
                                <h2 class="title">Join with us</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam.</p>
                            </div>
                        </div>
                        <div class="newsletter-form">
                            <form>
<!--                                <input type="email" class="form-control" placeholder="enter your email">-->
                                {{ news_letter_form.email }}
                                <button class="btn-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!--== End News Letter Area Wrapper ==-->
</main>
{% endblock %}

