 {% extends "shop/base.html" %}
{% load static %}

{% block title %}
Product Details

{% endblock %}
{% block form %}
 <!--== Start Reviews Content Item ==-->
                                    <div class="product-review-item">
                                        <div class="product-review-top">
                                            <div class="product-review-thumb">
                                                <img src="assets/images/shop/product-details/comment1.webp" alt="Images">
                                            </div>
                                            <div class="product-review-content">
                                                <span class="product-review-name">Tomas Doe</span>
                                                <span class="product-review-designation">Delveloper</span>
                                                <div class="product-review-icon">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra amet, sodales faucibus nibh. Vivamus amet potenti ultricies nunc gravida duis. Nascetur scelerisque massa sodales.</p>
                                        <button type="button" class="review-reply"><i class="fa fa fa-undo"></i></button>
                                    </div>
                                    <!--== End Reviews Content Item ==-->

                                    <!--== Start Reviews Content Item ==-->
                                    <div class="product-review-item product-review-reply">
                                        <div class="product-review-top">
                                            <div class="product-review-thumb">
                                                <img src="assets/images/shop/product-details/comment2.webp" alt="Images">
                                            </div>
                                            <div class="product-review-content">
                                                <span class="product-review-name">Tomas Doe</span>
                                                <span class="product-review-designation">Delveloper</span>
                                                <div class="product-review-icon">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra amet, sodales faucibus nibh. Vivamus amet potenti ultricies nunc gravida duis. Nascetur scelerisque massa sodales.</p>
                                        <button type="button" class="review-reply"><i class="fa fa fa-undo"></i></button>
                                    </div>
                                    <!--== End Reviews Content Item ==-->

                                    <!--== Start Reviews Content Item ==-->
                                    <div class="product-review-item mb-0">
                                        <div class="product-review-top">
                                            <div class="product-review-thumb">
                                                <img src="assets/images/shop/product-details/comment3.webp" alt="Images">
                                            </div>
                                            <div class="product-review-content">
                                                <span class="product-review-name">Tomas Doe</span>
                                                <span class="product-review-designation">Delveloper</span>
                                                <div class="product-review-icon">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra amet, sodales faucibus nibh. Vivamus amet potenti ultricies nunc gravida duis. Nascetur scelerisque massa sodales.</p>
                                        <button type="button" class="review-reply"><i class="fa fa fa-undo"></i></button>
                                    </div>

                                    <!--== End Reviews Content Item ==-->
 {% endblock %}